body
{
    font-family: Arial;
    background-color: #141414;
    color:white;
}

a
{
    color:white;
}

.box
{
    width: 100vw;
    height: 50px;
    position: relative;
    top: -8px;
    left: -8px;
    background-color: #222;
}

.image
{
    width: auto;
    height: 60px;
    position: relative;
    top: -63px;
    left: 0px;
}

.text
{
    position:relative;
    top:-95px;
    font-size: 12pt;
}